/* This file is used to style the goods page */


body{
    background-color: blanchedalmond;
}

.goods{
    border-radius: 5px;
    padding: 10px 5px;
    margin: 10px 10px;
    background-color: rgb(255, 220, 178);
}

.goods li{
    padding: 5px;
    list-style-image:url(../pic/star.png);
}

.goods li li{
    list-style-image: none;
}

.goods li textarea{
    display: none;
}

.goods p span{
    font-size: 20px;
}

.goods li p{
    margin: 10px 0;
}

.goods li mfrac{
    font-size: 25px;
}

p{
    font-size: 25px;
    font-weight: 850;
}

.goods b{
    font-size: 17px;
}

.goods a:link{
    text-decoration-line: none;
    color: #000;
}

.goods a:visited{
    text-decoration-line: none;
    color: #000;
}

.goods a:hover{
    text-decoration-line: underline;
    color: purple;
}

.goods img{
    vertical-align: top;
    height: 50px;
    width: 70px;
}

.goods #link{
    vertical-align: middle;
    height: 40px;
    width: auto;
}
