#between img {
    height: 450px;
    width: 750px;
    vertical-align: middle;
}

#between #picture ul{
    display:flex;
}

.midPic{
    transition:all .5s;
}
#picture:hover .midPic{
    transform:translateZ(100px);
}

#picture:hover .prev,
#picture:hover .next {
    display: block;
    cursor: pointer;
    opacity:1;
}

.prev, .next {
    top: 50%;
    transform: translateY(-50%);
    width: 60px;
    height: 100px;
    position: absolute;
    text-decoration: none;
    background-color: rgba(256,256,256,0.4);
    color: rgba(256,256,256,0.7);
    opacity:0;
    font-size: 50px;
    line-height: 100px;
    transition: all .5s;
}

.prev {
    left: 0;
    border-radius: 0 25px 25px 0;
    text-align: center;
}

.next {
    right: 0;
    border-radius: 25px 0 0 25px;
    text-align: center;
}

.backtop{
    position:fixed;
    left:50%;
    top:70%;
    z-index:999;
    margin-left:600px;
    transition:all 0s;
    opacity:0;
}



.mika{
    position:fixed;
    left:50%;
    z-index:998;
    margin-left:600px;
    animation:move 2s infinite alternate;
}

.punana{
    transition:all 1s;
}
.punana:hover{
    mask-image: url(../pic/t.png);
    transform:rotate(-720deg);
}

